<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>JUJUTV</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayoutAlign="center center">
    <span *ngIf="!showSearch">Rick and morty</span>
    <span *ngIf="!showSearch" class="example-spacer"></span>

    <span *ngIf="showSearch" class="example-spacer"></span>
    <mat-form-field color="ligth" *ngIf="showSearch" class="search-header" appearance="outline" style="width: 100%;">
      <mat-label>Buscador</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button (click)="showSearch = !showSearch" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>{{showSearch !== false ? 'arrow_back_ios_new':'search'}}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-toolbar color="primary" fxLayoutAlign="center center">JUJUTV © 2022</mat-toolbar>
  </div>
</footer>
