/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5{
  margin: 0 0 0 0 !important
}

.container{
  width:80% !important;
  max-width: 1280px !important;
  @media(max-width:599px){
    width:98% !important;
  }
}

.example-spacer {
  flex: 1 1 auto;
}


.search-header {
  .mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }
  .mat-form-field-infix {
    padding: 0.5em 0 !important
  }
}


.mat-card-sm-image{
  border-radius: 80px !important;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s;
}


.search-results-container{
    margin: 40px;
    height: 350px;
    width: 500px;
    overflow: auto;
}
